a {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 3rem;
    background-color: #D8E2DC;
}

.btn {
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    border: none;
    margin-top: 1rem;
    background-color: #58af9b;
    border: 1px solid #58af9b;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}